<!doctype html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
        <link rel="stylesheet" href="{% static 'css/L.Control.Layers.Tree.css' %}">
        <link rel="stylesheet" href="{% static 'css/L.Control.Locate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/qgis2web.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/leaflet-control-geocoder.Geocoder.css' %}">        
        <style>
            html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            #container {
                display: flex;
                flex-direction: row-reverse;
                width: 100%;
                height: 100%;
            }
            #sidebar {
                width: 15%;
                background-color: #f8f9fa;
                padding: 10px;
                box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); 
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            #sidebar button {
                background-color: #007bff;
                color: white;
                border: none;
                padding: 10px;
                cursor: pointer;
                border-radius: 5px;
            }
            #sidebar button:hover {
                background-color: #0056b3;
            }
            #map {
                flex-grow: 1;
                height: 100%;
            }
        </style>
        <title></title>
    </head>
    <body>
        <div id="container">
            <div id="sidebar">


                <div class="table-container">
                    <table id="tabla-municipios" class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>CvMunicipio</th>
                                <th>Municipio</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for municipio in municipios %}
                                <tr class="municipio-row" data-nombre="{{ municipio.nombre_municipio }}" style="display: none;">
                                    <td>{{ municipio.cv_municipio }}</td>
                                    <td>{{ municipio.nombre_municipio }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div><a href="" class="btn btn-custom" aria-label="Ir al menú principal">Agregar municipio a la Region</a></div> 
                </div>

                <div class="table-container">



                    <div><a href="" class="btn btn-custom" aria-label="Ir al menú principal">Seleccionar Estado</a></div>
                </div>            
            </div>
        <div id="map">
        </div>
        <script src="{% static 'js/qgis2web_expressions.js' %}"></script>
        <script src="{% static 'js/leaflet.js' %}"></script>
        <script src="{% static 'js/L.Control.Layers.Tree.min.js' %}"></script>
        <script src="{% static 'js/L.Control.Locate.min.js' %}"></script>
        <script src="{% static 'js/leaflet.rotatedMarker.js' %}"></script>
        <script src="{% static 'js/leaflet.pattern.js' %}"></script>
        <script src="{% static 'js/leaflet-hash.js' %}"></script>
        <script src="{% static 'js/Autolinker.min.js' %}"></script>
        <script src="{% static 'js/rbush.min.js' %}"></script>
        <script src="{% static 'js/labelgun.min.js' %}"></script>
        <script src="{% static 'js/labels.js' %}"></script>
        <script src="{% static 'js/leaflet-control-geocoder.Geocoder.js' %}"></script>
        <script src="{% static 'data/TabascoMun_1.js' %}"></script>
        <script>
        var highlightLayer;
        function highlightFeature(e) {
            highlightLayer = e.target;

            if (e.target.feature.geometry.type === 'LineString' || e.target.feature.geometry.type === 'MultiLineString') {
              highlightLayer.setStyle({
                color: '#ffff00',
              });
            } else {
              highlightLayer.setStyle({
                fillColor: '#ffff00',
                fillOpacity: 1
              });
            }
        }
        var map = L.map('map', {
            zoomControl:false, maxZoom:28, minZoom:1
        }).fitBounds([[16.492371128575567,-94.38694700276069],[18.871521529770412,-90.7406001717751]]);
        var hash = new L.Hash(map);
        map.attributionControl.setPrefix('<a href="https://github.com/tomchadwin/qgis2web" target="_blank">qgis2web</a> &middot; <a href="https://leafletjs.com" title="A JS library for interactive maps">Leaflet</a> &middot; <a href="https://qgis.org">QGIS</a>');
        var autolinker = new Autolinker({truncate: {length: 30, location: 'smart'}});
        // remove popup's row if "visible-with-data"
        function removeEmptyRowsFromPopupContent(content, feature) {
         var tempDiv = document.createElement('div');
         tempDiv.innerHTML = content;
         var rows = tempDiv.querySelectorAll('tr');
         for (var i = 0; i < rows.length; i++) {
             var td = rows[i].querySelector('td.visible-with-data');
             var key = td ? td.id : '';
             if (td && td.classList.contains('visible-with-data') && feature.properties[key] == null) {
                 rows[i].parentNode.removeChild(rows[i]);
             }
         }
         return tempDiv.innerHTML;
        }
        // add class to format popup if it contains media
		function addClassToPopupIfMedia(content, popup) {
			var tempDiv = document.createElement('div');
			tempDiv.innerHTML = content;
			if (tempDiv.querySelector('td img')) {
				popup._contentNode.classList.add('media');
					// Delay to force the redraw
					setTimeout(function() {
						popup.update();
					}, 10);
			} else {
				popup._contentNode.classList.remove('media');
			}
		}
        var zoomControl = L.control.zoom({
            position: 'topleft'
        }).addTo(map);
        L.control.locate({locateOptions: {maxZoom: 19}}).addTo(map);
        var bounds_group = new L.featureGroup([]);
        function setBounds() {
        }
        map.createPane('pane_OSMStandard_0');
        map.getPane('pane_OSMStandard_0').style.zIndex = 400;
        var layer_OSMStandard_0 = L.tileLayer('http://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            pane: 'pane_OSMStandard_0',
            opacity: 1.0,
            attribution: '<a href="https://www.openstreetmap.org/copyright">© OpenStreetMap contributors, CC-BY-SA</a>',
            minZoom: 1,
            maxZoom: 28,
            minNativeZoom: 0,
            maxNativeZoom: 19
        });
        layer_OSMStandard_0;
        map.addLayer(layer_OSMStandard_0);



        function pop_TabascoMun_1(feature, layer) {
            layer.on({
                mouseout: function(e) {
                    for (var i in e.target._eventParents) {
                        if (typeof e.target._eventParents[i].resetStyle === 'function') {
                            e.target._eventParents[i].resetStyle(e.target);
                        }
                    }
                },
                mouseover: highlightFeature,
                click: function(e) {
                    // Actualiza el panel derecho con el nombre del municipio
                    const nombreMunicipio = feature.properties['name'];
                    //document.getElementById('nombre-municipio').textContent = nombreMunicipio;
                    
                    // Filtra las filas de la tabla en función del nombre del municipio
                    const rows = document.querySelectorAll('.municipio-row');
                    rows.forEach(row => {
                        const munNombre = row.getAttribute('data-nombre');
                        if (munNombre !== nombreMunicipio) {
                            row.style.display = 'none';  // Ocultar las filas que no coinciden
                        } else {
                            row.style.display = '';  // Mostrar las filas que coinciden
                        }
                    });
                }
            });

            layer.on('popupopen', function(e) {
            });
        }




        function style_TabascoMun_1_0(feature) {
            switch(String(feature.properties['name'])) {
                case 'Balancán':
                    return {
                pane: 'pane_TabascoMun_1',
                opacity: 1,
                color: 'rgba(35,35,35,1.0)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: 1.0, 
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(215,150,131,1.0)',
                interactive: true,
            }
                    break;
                case 'Cárdenas':
                    return {
                pane: 'pane_TabascoMun_1',
                opacity: 1,
                color: 'rgba(35,35,35,1.0)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: 1.0, 
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(198,76,211,1.0)',
                interactive: true,
            }
                    break;
                case 'Centla':
                    return {
                pane: 'pane_TabascoMun_1',
                opacity: 1,
                color: 'rgba(35,35,35,1.0)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: 1.0, 
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(91,230,73,1.0)',
                interactive: true,
            }
                    break;
                case 'Centro':
                    return {
                pane: 'pane_TabascoMun_1',
                opacity: 1,
                color: 'rgba(35,35,35,1.0)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: 1.0, 
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(238,74,145,1.0)',
                interactive: true,
            }
                    break;
                case 'Comalcalco':
                    return {
                pane: 'pane_TabascoMun_1',
                opacity: 1,
                color: 'rgba(35,35,35,1.0)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: 1.0, 
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(226,188,137,1.0)',
                interactive: true,
            }
                    break;
                case 'Cunduacán':
                    return {
                pane: 'pane_TabascoMun_1',
                opacity: 1,
                color: 'rgba(35,35,35,1.0)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: 1.0, 
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(187,121,238,1.0)',
                interactive: true,
            }
                    break;
                case 'Emiliano Zapata':
                    return {
                pane: 'pane_TabascoMun_1',
                opacity: 1,
                color: 'rgba(35,35,35,1.0)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: 1.0, 
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(139,221,77,1.0)',
                interactive: true,
            }
                    break;
                case 'Huimanguillo':
                    return {
                pane: 'pane_TabascoMun_1',
                opacity: 1,
                color: 'rgba(35,35,35,1.0)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: 1.0, 
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(15,104,212,1.0)',
                interactive: true,
            }
                    break;
                case 'Jalapa':
                    return {
                pane: 'pane_TabascoMun_1',
                opacity: 1,
                color: 'rgba(35,35,35,1.0)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: 1.0, 
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(237,124,211,1.0)',
                interactive: true,
            }
                    break;
                case 'Jalpa de Méndez':
                    return {
                pane: 'pane_TabascoMun_1',
                opacity: 1,
                color: 'rgba(35,35,35,1.0)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: 1.0, 
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(121,199,220,1.0)',
                interactive: true,
            }
                    break;
                case 'Jonuta':
                    return {
                pane: 'pane_TabascoMun_1',
                opacity: 1,
                color: 'rgba(35,35,35,1.0)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: 1.0, 
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(14,240,138,1.0)',
                interactive: true,
            }
                    break;
                case 'Macuspana':
                    return {
                pane: 'pane_TabascoMun_1',
                opacity: 1,
                color: 'rgba(35,35,35,1.0)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: 1.0, 
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(190,233,48,1.0)',
                interactive: true,
            }
                    break;
                case 'Nacajuca':
                    return {
                pane: 'pane_TabascoMun_1',
                opacity: 1,
                color: 'rgba(35,35,35,1.0)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: 1.0, 
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(203,193,100,1.0)',
                interactive: true,
            }
                    break;
                case 'Paraíso':
                    return {
                pane: 'pane_TabascoMun_1',
                opacity: 1,
                color: 'rgba(35,35,35,1.0)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: 1.0, 
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(225,130,139,1.0)',
                interactive: true,
            }
                    break;
                case 'Tacotalpa':
                    return {
                pane: 'pane_TabascoMun_1',
                opacity: 1,
                color: 'rgba(35,35,35,1.0)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: 1.0, 
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(84,208,111,1.0)',
                interactive: true,
            }
                    break;
                case 'Teapa':
                    return {
                pane: 'pane_TabascoMun_1',
                opacity: 1,
                color: 'rgba(35,35,35,1.0)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: 1.0, 
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(61,222,203,1.0)',
                interactive: true,
            }
                    break;
                case 'Tenosique':
                    return {
                pane: 'pane_TabascoMun_1',
                opacity: 1,
                color: 'rgba(35,35,35,1.0)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: 1.0, 
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(43,63,236,1.0)',
                interactive: true,
            }
                    break;
                default:
                    return {
                pane: 'pane_TabascoMun_1',
                opacity: 1,
                color: 'rgba(35,35,35,1.0)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: 1.0, 
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(123,100,200,1.0)',
                interactive: true,
            }
                    break;
            }
        }
        map.createPane('pane_TabascoMun_1');
        map.getPane('pane_TabascoMun_1').style.zIndex = 401;
        map.getPane('pane_TabascoMun_1').style['mix-blend-mode'] = 'normal';
        var layer_TabascoMun_1 = new L.geoJson(json_TabascoMun_1, {
            attribution: '',
            interactive: true,
            dataVar: 'json_TabascoMun_1',
            layerName: 'layer_TabascoMun_1',
            pane: 'pane_TabascoMun_1',
            onEachFeature: pop_TabascoMun_1,
            style: style_TabascoMun_1_0,
        });
        bounds_group.addLayer(layer_TabascoMun_1);
        map.addLayer(layer_TabascoMun_1);
        var osmGeocoder = new L.Control.Geocoder({
            collapsed: true,
            position: 'topleft',
            text: 'Search',
            title: 'Testing'
        }).addTo(map);
        document.getElementsByClassName('leaflet-control-geocoder-icon')[0]
        .className += ' fa fa-search';
        document.getElementsByClassName('leaflet-control-geocoder-icon')[0]
        .title += 'Search for a place';
        setBounds();
        </script>
    </body>
</html>
