{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard de Aspirantes a EC Rechazados{% endblock %}

{% block content %}
<style>
    .aceptar-btn {
        color: black;
        border-color: lightgray;
        background-color: white;
        transition: background-color 0.3s, color 0.3s;
    }

    .aceptar-btn:hover {
        background-color: #d4edda; /* Verde suave */
        color: #155724; /* Verde oscuro */
    }

    .rechazar-btn {
        color: black;
        border-color: lightgray;
        background-color: white;
        transition: background-color 0.3s, color 0.3s;
    }

    .rechazar-btn:hover {
        background-color: #f8d7da; /* Rojo suave */
        color: #721c24; /* Rojo oscuro */
    }
</style>

<div class="container mt-5">
    <div class="d-flex justify-content-start mb-3">
        <a href="{% url 'coordinador_home:home_coordinador' %}" class="btn btn-warning" style="background-color: #620b0b; color:white">
            Menú
        </a>
    </div>

    <div class="d-flex justify-content-between mb-3">
        <a href="{% url 'coordinador_home:dashboard_aspirante' %}" 
           class="btn btn-danger" 
           style="background-color: #620b0b; color: white;">
            Selecciona Aspirante
        </a>
        <a href="{% url 'coordinador_home:dashboard_aspirante_aceptado' %}" 
           class="btn btn-danger" 
           style="background-color: #620b0b; color: white;">
            Ver Aspirantes Aceptados
        </a>
    </div>
    

    <h2 class="text-center mb-4">Dashboard de Aspirantes a EC Rechazados </h2>

    {% if aspirantes %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered text-center align-middle">
            <thead>
                <tr>
                    <th>Folio</th>
                    <th>Nombre</th>
                    <th>Estado de Residencia</th>
                    <th>Estado de Participación</th>
                    <th>Ciclo Escolar</th>
                    <th>Habla Lengua Indígena</th>
                    <th>Lengua Indígena</th>
                    <th>Formación Académica</th>
                    <th>Certificado de Estudios</th>
                    <th>Contexto</th>
                    <th>Tipo de Servicio</th>
                    <th>Programa Participación</th>
                    <th>status_seleccion</th>
                </tr>
            </thead>
            <tbody>
                {% for aspirante in aspirantes %}
                {% if aspirante.participacion.programa_participacion == "EC" and aspirante.status_seleccion == "rechazado" %}
                <tr>
                    <td>{{ aspirante.folio }}</td>
                    <td>
                        {{ aspirante.datos_personales.nombre }} 
                        {{ aspirante.datos_personales.apellidopa }} 
                        {{ aspirante.datos_personales.apellidoma }}
                    </td>
                    <td>{{ aspirante.residencia.estado }}</td>
                    <td>{{ aspirante.participacion.estado_participacion }}</td>
                    <td>{{ aspirante.participacion.ciclo_escolar }}</td>
                    <td>{{ aspirante.gestion.habla_lengua_indigena|yesno:"Sí,No" }}</td>
                    <td>{{ aspirante.gestion.lengua_indigena }}</td>
                    <td>{{ aspirante.datos_personales.formacion_academica }}</td>
                    <td>
                        {% if aspirante.datos_personales.documentos.certificado_estudio %}
                        <a href="{{ aspirante.datos_personales.documentos.certificado_estudio.url }}">Ver documento</a>
                        {% else %}
                        No disponible
                        {% endif %}
                    </td>
                    <td>{{ aspirante.participacion.contexto }}</td>
                    <td>{{ aspirante.participacion.tipo_servicio }}</td>
                    <td>{{ aspirante.participacion.programa_participacion }}</td>
                    <td>{{ aspirante.status_seleccion }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p class="text-center">No hay aspirantes disponibles.</p>
    {% endif %}
</div>
</div>
{% endblock %}